
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StockTracking</title>
</head>
<body>
    <h1>Welcome to StockTracking Program</h1>
    <a asp-controller="Product" asp-action="Product">Click to go to the product list.</a>
</body>
</html>
